﻿<a name="ShowComments"></a>
<div class="row" style="margin-bottom:10px;margin-top:10px;">
    <div class="col-xs-12">

        <a href="/Blog/AddPostLike/${Id}" ng-class="currentPost.IsAuthenticated ? 'link-like' : 'link-can-not'">
          <span style="font-size:22px;" class="glyphicon glyphicon-thumbs-up"></span>
        </a>
        <a class="likecount" style="color:green;">{{currentPost.PostLikesCount}}</a>

        <a href="/Blog/AddPostDislike/${Id}" ng-class="currentPost.IsAuthenticated ? 'link-like' : 'link-can-not'">
            <span style=" font-size:22px;" class="glyphicon  glyphicon-thumbs-down">
            </span>
        </a>
        <a class="likecount" style="color:red;">{{currentPost.PostDislikesCount}}</a>
        &nbsp;
        <a href="/Blog/GetPost/${Id}#ShowComments" title="See comments for post  {{Title}} ">
            {{if CommentsCount< 2}}
            <span style="font-size:18px;" id="span-comment-count">{{currentPost.CommentsCount}}</span> Comment
            {{else}}
            <span style="font-size:18px;" id="span-comment-count">{{currentPost.CommentsCount}}</span> Comments
            {{/if}}
        </a>
    </div>
</div>




<div id="div-post-comments">
    {{each Comments}}
    <div class="row" style="margin-top:10px;padding-top:10px; padding-bottom:10px;background-color:lightgray;">
        <div class="col-xs-12 col-sm-8">
            <span class="glyphicon glyphicon-user"></span>
            ${UserName}
        </div>
        <div class="col-xs-12 col-sm-4">
            ${PostedOn}
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-12">
            {{html CommentBody}}
        </div>
    </div>
    {{/each}}
</div>

