﻿<div class="row">
    <div class=" col-xs-12" style="">
        <span class=" bg-primary pull-right"
              style="border:solid 1px lightgray;background-color:transparent;color:#337ab7;border-top-left-radius: 16px!important;border-radius: 16px!important;padding:8px 40px;">
            Page: {{currentPage}} / {{totalItems}}
        </span>
    </div>
</div>

<ul uib-pager total-items="totalItems" ng-model="currentPage" align="false" ng-change="pageChanged()" items-per-page="1"></ul>

<div class="row">
    <div class=" col-xs-12" style="margin-top:40px;">
        <h4>{{post.Title}}</h4>
        <i>{{post.PostedOn}}</i>
    </div>
</div>

<div class="row" style="margin-top:10px;">
    <div class="col-xs-12" ng-bind-html="post.Description"> </div>
    <div class="col-xs-12" ng-bind-html="post.Body"></div>
</div>

<div class="row" style="margin-top:10px;">
    <div class="col-xs-12">
        <span>Tags: </span><br />
        <a ui-sref="app.blog.postsByTag({tagId: tag.Id})"
           ng-attr-title="{{getTagTitleMessage(tag.Name)}}"
           ng-click="tagSelected(tag)"
           ng-repeat-start="tag in post.Tags">
            {{tag.Name}}
        </a>
        <span ng-repeat-end ng-hide="$last">, </span>
    </div>
</div>

<a name="ShowComments"></a>
<div class="row" style="margin-bottom:10px;margin-top:10px;">
    <div class="col-xs-6 col-sm-4">
        <a href="" ng-click="addPostLike(post.Id, post.IsAuthenticated, true)">
            <span style="font-size:22px;" class="glyphicon glyphicon-thumbs-up"></span>
        </a>
        <span style="color:green;" uib-popover-html="userNamesWhoLike" popover-title="Likes:" popover-is-open="popoverIsOpen"
              ng-mouseenter="openTooltip(post.Id, this)" ng-mouseleave="popoverIsOpen = false" popover-placement="top-right">
            {{post.PostLikesCount}}
        </span>

        <a href="" ng-click="addPostLike(post.Id, post.IsAuthenticated, false)">
            <span style="font-size:22px;" class="glyphicon  glyphicon-thumbs-down"></span>
        </a>
        <span style="color:red;" uib-popover-html="userNamesWhoLike" popover-title="Dislikes:" popover-is-open="popoverIsOpen"
              ng-mouseenter="openTooltip(post.Id, this,false)" ng-mouseleave="popoverIsOpen = false" popover-placement="bottom-right">
            {{post.PostDislikesCount}}
        </span>&nbsp;

        <a class="btn btn-default comment-menu-items btn-xs new-comment" title="Add a new comment" href="/Blog/AddComment">
            <span style="font-size:24px; margin:0px; padding:0px;" class="glyphicon glyphicon-edit"></span>
        </a>
    </div>

    <div class="col-xs-6 col-sm-4 text-center">
        <span ng-if="post.CommentsCount < 2" style="font-size:18px;"> {{post.CommentsCount}} Comment</span>
        <span ng-if="post.CommentsCount >= 2" style="font-size:18px;"> {{post.CommentsCount}} Comments</span>
    </div>
</div>

<div id="div-post-comments">
    <div class="row" ng-repeat-start="comment in post.Comments"
         style="margin-top:10px; padding-top:10px; padding-bottom:10px; background-color:lightgray;">
        <div class="col-xs-12 col-sm-8">
            <span class="glyphicon glyphicon-user"></span>
            {{comment.UserName}}
        </div>
        <div class="col-xs-12 col-sm-4">
            {{comment.PostedOn}}
        </div>
    </div>
    <div class="row" ng-repeat-end style="margin-top:10px;">
        <div class="col-xs-12" ng-bind-html="comment.CommentBody"></div>
    </div>
</div>


