﻿
    <div class="col-xs-12 col-md-3 col-lg-4">
    <div class="sidebar">
        <h4><b>Tags</b></h4>
        <ul ng-repeat="tag in tags">
            <li>
                <a ui-sref="app.blog.postsByTag({tagId: tag.Id, tagName: tag.Name})" ng-attr-title="getTagTitleMessage(tag.Name)">{{tag.Name}}</a>
            </li>
        </ul>
    </div>
</div>



