﻿
<div class="row">
    <div class="col-xs-12 text-center">
        <h3><b>{{title}} </b></h3>
     </div>
    <div class=" col-xs-12 col-sm-6 col-md-4 pull-right">
        <p class="input-group">
            <input type="text" class="form-control"
                   uib-datepicker-popup="{{format}}"
                   ng-model="dt"
                   ng-change="change()"
                   is-open="popup.opened"
                   datepicker-options="dateOptions"
                   ng-required="true" close-text="Close"
                   alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>
</div>




    <hr class="row hidden-xs visible-md /">
    <div class="row hidden-xs visible-md text-center">
        <div class="col-md-2 text-left"><b>Day</b></div>
        <div class="col-md-2"><b>Visits</b></div>
        <div class="col-md-2"><b>Visitors</b></div>
        <div class="col-md-3"><b>Users</b></div>
        <div class="col-md-3"><b>Anonymous</b></div>
    </div>
    <hr />
     
    <div class="row" ng-hide="visitorsInfo.data.data.summary.length">
               <div class="col-xs-12 text-center"><b>No data</b></div> 
    </div>

    <div class="row" ng-repeat-start="s in visitorsInfo.data.data.summary">
        <div class="col-xs-6 col-md-2 ">
            <span class="hidden-md"><b>Day: {{s.Day}} </b> </span><span class="visible-md">{{s.Day}}</span>  
        </div>
        <div class="col-xs-6 hidden-md">
            visits: {{s.Count1}}<br />
            visitors: {{s.Count2 + s.Count3}}<br />
            users: {{s.Count2}}<br />
            anonymous: {{s.Count3}}<br />
        </div>
        <div class="col-md-2 hidden-xs visible-md text-center">{{s.Count1}}</div>
        <div class="col-md-2 hidden-xs visible-md text-center">{{s.Count2 + s.Count3}}</div>
        <div class="col-md-3 hidden-xs visible-md text-center">{{s.Count2}}</div>
        <div class="col-md-3 hidden-xs visible-md text-center">{{s.Count3}}</div>
    </div>
    <hr ng-repeat-end />


