﻿
<div class="row">
    <div class="col-xs-12 text-center">
        <h3><b>{{title}} </b></h3>
    </div>
    <div class=" col-xs-12 col-sm-6 col-md-4 pull-right">
        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-change="change()"
                   ng-model="dt" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>
</div>
<hr class="row hidden-xs visible-md /">
    <div class="row hidden-xs visible-md text-center">
        <div class="col-md-4 text-left"><b>Country</b></div>
        <div class="col-md-2"><b>Visits</b></div>
        <div class="col-md-2"><b>Visitors</b></div>
        <div class="col-md-2"><b>Users</b></div>
        <div class="col-md-2"><b>Anonymous</b></div>
    </div>
    <hr />
     <div class="row" ng-hide="visitorsInfo.data.data.result.length">
    <div class="col-xs-12 text-center"><b>No data</b></div>
</div>
    <div class="row" ng-repeat-start="s in visitorsInfo.data.data.result">
        <div class="col-xs-6 col-md-4 ">
            <span class="f32">
                <span class="{{'flag ' + s.code.toLowerCase()}}"></span>                
            </span><span>{{s.name}}</span> 
        </div>
        <div class="col-xs-6 hidden-md">
            visits: {{s.value}}<br />
            visitors: {{s.visitors}}<br />
            users: {{s.usercount}}<br />
            anonymous: {{s.ananimouscount}}<br />
        </div>
        <div class="col-md-2 hidden-xs visible-md text-center">{{s.value}}</div>
        <div class="col-md-2 hidden-xs visible-md text-center">{{s.visitors}}</div>
        <div class="col-md-2 hidden-xs visible-md text-center">{{s.usercount}}</div>
        <div class="col-md-2 hidden-xs visible-md text-center">{{s.ananimouscount}}</div>
    </div>
    <hr ng-repeat-end />
