﻿<script type="text/html" id="tmpPost">
    <div class="row">
        <div class=" col-xs-12" style="margin-top:40px;">
            <h4>
                ${Title}
            </h4><i>${PostedOn}</i>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-12 ">
            {{html Description}}

            <div>{{html Body}} </div>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-12">
            <span>Tags: </span>
            {{each Tags}}
            {{if $index > 0}}, {{/if}}
            <a href="/Blog/GetPostsByTag/${Id}" title="See posts with tag ${Name}" class=" link-tag">${Name}</a>
            {{/each}}
        </div>
    </div>

    <div id="div-post-comments">
        {{each Comments}}
        <div class="row" style="margin-top:10px;padding-top:10px; padding-bottom:10px;background-color:lightgray;">
            <div class="col-xs-12 col-sm-8">
                <span class="glyphicon glyphicon-user"></span>
                ${UserName}
            </div>
            <div class="col-xs-12 col-sm-4">
                ${PostedOn}
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-xs-12">
                {{html CommentBody}}
            </div>
        </div>
        {{/each}}
    </div>
</script>






<script type="text/html" id="tmpComment">
    <div class="row" style="margin-top:10px;padding-top:10px; padding-bottom:10px;background-color:lightgray;">
        <div class="col-xs-12 col-sm-8">
            <span class="glyphicon glyphicon-user"></span>
            ${UserName}
        </div>
        <div class="col-xs-12 col-sm-4">
            ${PostedOn}
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-12">
            {{html CommentBody}}
        </div>
    </div>
</script>







 <script type="text/html" id="tmpPosts">

        <div class="row">
            <div class=" col-xs-12" >
                <h4>
                    Posts by tag <sapan id="tag-name">${TagName}</sapan>
                </h4>                
            </div>
       </div>

     <ul class="pager">
         <li {{if IsPrev}} class='disabled' {{/if}}>             
             <a href="/Blog/GetPostsByTag/${TagId}?page=${PrevPage}" class="link-nav-by-tag">${PostsPerPage} previous</a>
         </li>
         <li {{if IsNext}} class='disabled' {{/if}}>            
             <a href="/Blog/GetPostsByTag/${TagId}?page=${NextPage}" class="link-nav-by-tag">next  ${PostsPerPage}</a>
         </li>
     </ul>


    {{each Posts}}
    <div class="row">
        <div class=" col-xs-12" style="margin-top:40px;">
            <h4>
                <a href="/Blog/GetPost/${Id}">${Title}</a>
            </h4>
            <i>${PostedOn}</i>
        </div>
    </div>

    <div class="row" style="margin-top:10px;">
        <div class="col-xs-12 ">
            <div>{{html Description}}</div> 
        </div>
        <div class="col-xs-12 ">
            
            <a href="/Blog/ExpandPost/${Id}" class="link-post-expand">〈 Read more ... 〉</a>
            <div class="post-body"></div>
            
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-12">
            <span>Tags: </span>
    {{each Tags}}
    {{if $index > 0}}, {{/if}}
    <a href="/Blog/GetPostsByTag/${Id}" title="See posts with tag ${Name}" class=" link-tag">${Name}</a>
    {{/each}}
</div>
</div>
     <a name="ShowComments"></a>
     <div class="row" style="margin-bottom:10px;margin-top:10px;">
         <div class="col-xs-12">
             
             <a href="/Blog/AddPostLike/${Id}" {{if IsAuthenticated }} class=" link-like" {{else}} class=" link-can-not"{{/if}}>
                 &nbsp;<span style="font-size:22px;" class="glyphicon glyphicon-thumbs-up"></span>
             </a>
             <a class="likecount" style="color:green;">${PostLikesCount}</a>

             <a href="/Blog/AddPostDislike/${Id}" {{if IsAuthenticated }} class=" link-like" {{else}} class=" link-can-not" {{/if}}>
                 <span style=" font-size:22px;" class="glyphicon  glyphicon-thumbs-down">
                 </span>
             </a>
             <a class="likecount" style="color:red;">${PostDislikesCount}</a>
             &nbsp;
             <a href="/Blog/GetPost/${Id}#ShowComments" title="See comments for post  ${Title} ">
                 {{if CommentsCount< 2}}
                 <span style="font-size:18px;" id="span-comment-count">${CommentsCount}</span> Comment
                 {{else}}
                 <span style="font-size:18px;" id="span-comment-count">${CommentsCount}</span> Comments
                 {{/if}}
            </a>
         </div>
     </div>

<hr />
{{/each}}

   
</script>


