﻿@using Blog.ViewModels;
@model PostEditViewModel

<div class="modal-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"></h4>
        </div>

        <div class="modal-body">
            <div class="form-group" >
                @Html.LabelFor(m => m.Post.Title)
                @Html.HiddenFor(m => m.Post.Id)
                @Html.TextBoxFor(m => m.Post.Title, new { @class = "form-control" })               
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Post.PostedOn)           
                @Html.TextBoxFor(m => m.Post.PostedOn, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Post.Description)
                @Html.TextAreaFor(m => m.Post.Description, new { @class = "form-control", rows = "5" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Post.Body)
                    @Html.TextAreaFor(m => m.Post.Body, new { @class = "form-control", rows = "8" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Tags)           
                <div  id="div-post-tags"></div>
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-success btn-preview-post">Preview</button>
            <button type="button" class="btn btn-primary btn-save-post">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

    }
</div>




