﻿@using Blog.ViewModels;
@using Blog.Models.Blog;
@model IEnumerable<PostShortViewModel>

@{
    ViewBag.Title = "Index";
    
    
}


@section MainContent{

    <div id="listBody" style="margin-top:40px;">


        <div class="row">

            <div class="col-xs-12 col-sm-5 hidden-xs"> <b>Title</b></div>
            <div class="col-xs-1 col-sm-2 hidden-xs"> <b>Published</b></div>
            <div class="col-xs-12 col-sm-3 hidden-xs"> <b>Tags</b></div>


            <div class="col-xs-12 col-sm-2">
                <div class="btn-group ">
                    <a class="btn btn-sm  btn-default  link-edit-post"
                       href="@Url.Action("EditPost", "Admin")" title="Add a new post">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <button class="btn btn-default btn-sm btn-refresh-posts" title="Refresh posts" type="button">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
            </div>
        </div>
        <hr id="hr-posts" />

        @foreach (var post in Model)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-5">                    
                  @Html.ActionLink(post.Title, "GetPost", "Blog", new { id = post.Id }, new { @class = "post-title" })                    
                </div>
                <div class="col-xs-1 col-sm-2 ">
                    @post.PostedOn<br/> 
                    <input type="checkbox" class="checkbox-grid" @(post.Published? "checked ='checked'" : "")/>
                </div>
               
                <div class="col-xs-12 col-sm-3"> @post.Tags</div>

                <div class="col-xs-12 col-sm-2 ">
                    <div class="btn-group ">                        
                        <a class="btn btn-sm  btn-default  link-edit-post"
                           href="@Url.Action("EditPost", "Admin", new { id = post.Id })" title="Edit post">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a class="btn btn-sm  btn-default  link-delete-post"
                           href="@Url.Action( "DeletePost", "Admin", new { id = post.Id })" title="Delete post">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>

                </div>
            </div>
            <hr />
        }
    </div>


    <!-- Modal -->
    <div class="modal fade" id="frmPostModal" role="dialog">
        <div class="modal-dialog">
            Html.Partial("EditPostModal", new Post())
        </div>
    </div>

}

@section Scripts {
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
      <!-- jquery tinymce library -->
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>


    <script>
        $(function () {

            //---------------------------
            $(".container").on("click", ".btn-refresh-posts", function (event) {
                event.preventDefault();
                //clear search control
                var target = $("#hr-posts");
                var jqxhr = $.post("/Admin/GetPostsShortAjax", function (data) {

                    //delete old rows
                    var controlsToDelete = $(".link-delete-post").closest(".row");
                    controlsToDelete.next().remove();
                    controlsToDelete.remove();

                    // template, add new rows
                    var newControl = $("#tmpPosts").tmpl(data);
                    target.after(newControl);
                })
                .fail(function (xhr, textStatus, errorThrown) {
                    alert("Error  " + xhr.responseText);
                });

                return;
            });

            //---------------------------
            $(".container").on("click", ".btn-save-post", function (event) {

                var form = $(this).closest('form');


                form.validate();
                 if (!form.valid()) { return false };

                        $.post("/Admin/InsertOrUpdatePost", form.serialize(), function (data) {

                            var dt = data.post;
                            if (dt.Id == 0) {
                                alert("Error at server");

                            }
                            else {

                                var dt = data.post;

                                if ($("#Id").val() != '0') //if update tag
                                {

                                    //find row for update
                                    $(".link-delete-tag").each(function () {

                                        if ($(this).attr("href").split('/')[3] == dt.Id) {
                                            var target = $(this).closest('.row');

                                            target.find(".span-post-title").text(dt.Name);

                                        };
                                    });
                                }
                                else //if add new tag
                                {
                                    //insert new row
                                    var newControl = $("#tmpPosts").tmpl({ "posts": [dt] });
                                    $("#hr-posts").after(newControl);
                                }
                            }
                        });

                        $('#frmPostModal').modal('toggle');
                        return false;

            });

            //---------------------------
            $(".container").on("click", ".link-delete-post", function (event) {
                event.preventDefault();

                var deleteLinkObj = $(this);
                var parent = deleteLinkObj.closest('.row');
                var name = parent.find(".post-title").text();

                var temp = "<div id ='divModalDelete'>Do you want to delete post \"" + name + "\"?</div>";


                BootstrapDialog.show({
                    title: 'Confirmation',
                    message: temp,

                    buttons: [{
                        label: 'Yes',
                        action: function (dialogItself) {

                            $.post(deleteLinkObj[0].href, function (data) {
                                if (data.result > 0) {
                                    parent.next().remove();
                                    parent.remove();
                                    dialogItself.close();
                                }
                                else {

                                    dialogItself.close();
                                    temp.find("#divModalDelete").html("Not able to delete post\"" + name+"\"").addClass("text-danger");
                                    var dialogInstance1 = new BootstrapDialog({
                                        title: 'Error',
                                        type: BootstrapDialog.TYPE_DANGER,
                                        message: temp.html()
                                    });
                                    dialogInstance1.open();
                                }

                            });
                        }

                    }, {
                        label: 'No',
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }]
                });


            });

            //------------------------------
            $(".container").on("click", ".btn-add-post", function (event) {
                event.preventDefault();
                //clear errors
                var form = $("#frmPostModal").find('form');
                $inputs = form.find("input").removeClass("input-validation-error");
                $('.field-validation-error').empty();

                $("#Id").val("0");
                $("#Title").val("");
                $("#Description").val("");
                $("#Body").val("");
                
                $.post("/Admin/GetTagsForNewPost", function (data) {
                    var newControl = $("#tmpPostTags").tmpl(data);
                    $("#div-post-tags").empty().append(newControl);
                });

                $(".modal-title").text("New post");
                $("#div-info").empty();
                $("#frmPostModal").modal('show');
                return false;
            });

            //---------------------------
            $(".container").on("click", ".link-edit-post-ajax", function (event) {
                event.preventDefault();

                //clear errors
                var form = $("#frmPostModal").find('form');
                $inputs = form.find("input").removeClass("input-validation-error");
                $('.field-validation-error').empty();

                var linkObj = $(this);
                var parent = linkObj.closest('.row');
                var name = parent.find(".span-tag-name").html();

                $.post(linkObj[0].href, function (data) {
                    var dt = data.post;
                    $("#Id").val(dt.Id);
                    $("#Title").val(dt.Title);
                    $("#Description").val(dt.Description);
                    $("#Body").val(dt.Body);

                    var newControl = $("#tmpPostTags").tmpl(dt);                 
                    $("#div-post-tags").empty().append(newControl);

                    $(".modal-title").text("Edit post");
                    $("#frmPostModal").modal('show');
                });
                return false;
            });
            
            
            //----------------------------------
            //to display readonly checkboxes
            $(".container").on("click", ".checkbox-grid", function (event) {
                return false;
                
            })

            //----------------------------------
            $(".container").on("click", ".btn-preview-post", function (event) {
                return false;

            })
            //----------------------------------
        })
    </script>





    <script type="text/html" id="tmpPosts">
        {{each posts}}
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <a href="/Blog?GetPost/${Id}" class="post-title">${Title}</a>
            </div>
            <div class="col-xs-12 col-sm-2 ">
                ${PostedOn}<br />
                <input type="checkbox" class="checkbox-grid" {{if Published}} ? checked ='checked' {{/if}} />
            </div>
            <div class="col-xs-12 col-sm-3 ">
                ${Tags}        
            </div>
            <div class="col-xs-12 col-sm-2">
                <div class="btn-group ">
                    <a class="btn btn-sm  btn-default link-edit-post"
                       href="/Admin/EditPost/${Id}" title="Edit post">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-sm  btn-default  link-delete-post"
                       href="/Admin/DeletePost/${Id}" title="Delete post">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            </div>
        </div>
        <hr />
        {{/each}}
    </script>



<script type="text/html" id="tmpPostTags">
    {{each Tags}}
    <div class="col-xs-12 col-sm-6 col-md-4">
        <label>
            <input type="checkbox" value="${Id}" class="checkbox-post-tag" {{if Checked}} ? checked='checked' {{/if}}> ${Name}
        </label>
    </div>
    {{/each}}
</script>
}




