﻿@using Blog.Models.Blog;
@model IEnumerable<Tag>

@{
    ViewBag.Title = "Index";
}


@section MainContent{

    <div id="listBody" style="margin-top:40px;">


        <div class="row">
            
            <div class="col-xs-10 col-sm-10 hidden-xs"> <b>Tag name</b></div>


            <div class="col-xs-12 col-sm-2">
                <div class="btn-group ">
                    <button class="btn btn-default btn-sm btn-add-tag" title="Add new tag" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn btn-default btn-sm btn-refresh-tags" title="Refresh tags" type="button">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
             </div>
        </div>
        <hr id="hr-tags" />

        @foreach (var tag in Model)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-10">
                    <span class="span-tag-name">@tag.Name </span>
                </div>

                <div class="col-xs-12 col-sm-2 ">
                    <div class="btn-group ">

                        <a class="btn btn-sm  btn-default  link-edit-tag"
                           href="@Url.Action("EditTag", "Admin", new { id = tag.Id })" title="Edit tag">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a class="btn btn-sm  btn-default  link-delete-tag"
                           href="@Url.Action( "DeleteTag", "Admin", new { id = tag.Id })" title="Delete tag">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>

                </div>
            </div>
            <hr />
        }
    </div>


    <!-- Modal -->
    <div class="modal fade" id="frmTagModal" role="dialog">
        <div class="modal-dialog">
            @Html.Partial("EditTagModal", new Tag() { Id = 0, Name = "" })
        </div>
    </div>

}

@section Scripts {
   
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
   

  
    <script>
        $(function () {

            //---------------------------
            $(".container").on("click", ".btn-refresh-tags", function (event) {
                event.preventDefault();
                //clear search control
                var target = $("#hr-tags");
                var jqxhr = $.post("/Admin/GetTagsAjax", function (data) {

                    //delete old rows
                    var controlsToDelete = $(".link-delete-tag").closest(".row");
                    controlsToDelete.next().remove();
                    controlsToDelete.remove();

                    // template, add new rows
                    var newControl = $("#tmpTags").tmpl(data);
                    target.after(newControl);
                })
                .fail(function (xhr, textStatus, errorThrown) {
                    alert("Error  " + xhr.responseText);
                });

                return;
            });

            //---------------------------
            $(".container").on("click", ".btn-save-tag", function (event) {

                var form = $(this).closest('form');
               

                form.validate();
                if (!form.valid()) { return false };

                        $.post("/Admin/InsertOrUpdateTag", form.serialize(), function (data) {

                            var dt = data.tag;
                            if (dt.Id == 0) {
                                alert("Error at server");

                            }
                            else {

                                var dt = data.tag;

                                if ($("#Id").val() != '0') //if update tag
                                {
                                    
                                    //find row for update
                                    $(".link-delete-tag").each(function () {

                                        if ($(this).attr("href").split('/')[3] == dt.Id) {
                                            var target = $(this).closest('.row');
                                            
                                            target.find(".span-tag-name").text(dt.Name);

                                        };
                                    });
                                }
                                else //if add new tag
                                {
                                    //insert new row
                                    var newControl = $("#tmpTags").tmpl({ "tags": [dt] });
                                    $("#hr-tags").after(newControl);
                                }
                            }
                        });

                        $('#frmTagModal').modal('toggle');
                        return false;

            });

            //---------------------------
            $(".container").on("click", ".link-delete-tag", function (event) {
                event.preventDefault();

                var deleteLinkObj = $(this);
                var parent = deleteLinkObj.closest('.row');
                var name = parent.find(".span-tag-name").html();

                var temp = "<div id ='divModalDelete'>Do you want to delete tag " + name + "</div>";


                BootstrapDialog.show({
                    title: 'Confirmation',
                    message: temp,

                    buttons: [{
                        label: 'Yes',
                        action: function (dialogItself) {

                            $.post(deleteLinkObj[0].href, function (data) {
                                if (data.result > 0) {
                                    parent.next().remove();
                                    parent.remove();
                                    dialogItself.close();
                                }
                                else {

                                    dialogItself.close();
                                    temp.find("#divModalDelete").html("Not able to delete tag" + name).addClass("text-danger");
                                    var dialogInstance1 = new BootstrapDialog({
                                        title: 'Error',
                                        type: BootstrapDialog.TYPE_DANGER,
                                        message: temp.html()
                                    });
                                    dialogInstance1.open();
                                }

                            });
                        }

                    }, {
                        label: 'No',
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }]
                });


            });

            //------------------------------
            $(".container").on("click", ".btn-add-tag", function (event) {
                event.preventDefault();
                //clear errors
                var form = $("#frmTagModal").find('form');
                $inputs = form.find("input").removeClass("input-validation-error");
                $('.field-validation-error').empty();

                $("#Id").val("0");
                $("#Name").val("");
              
                $(".modal-title").text("New tag");
                $("#div-info").empty();
                $("#frmTagModal").modal('show');
                return false;
            });

            //---------------------------
            $(".container").on("click", ".link-edit-tag", function (event) {
                event.preventDefault();

                //clear errors
                var form = $("#frmTagModal").find('form');
                $inputs = form.find("input").removeClass("input-validation-error");
                $('.field-validation-error').empty();

                var linkObj = $(this);
                var parent = linkObj.closest('.row');
                var name = parent.find(".span-tag-name").html();

                $.post(linkObj[0].href, function (data) {
                    var dt = data.tag;
                    $("#Id").val(dt.Id);
                    $("#Name").val(dt.Name);
                    
                    $(".modal-title").text("Edit tag");
                    $("#frmTagModal").modal('show');
                });
                return false;
            });

            //----------------------------------
        })     
    </script>





    <script type="text/html" id="tmpTags">
        {{each tags}}
        <div class="row">          
            <div class="col-xs-12 col-sm-10">
                <span class="span-tag-name">${Name}</span>
            </div>

            <div class="col-xs-12 col-sm-2">
                <div class="btn-group ">

                    <a class="btn btn-sm  btn-default link-edit-tag"
                       href="/Admin/EditTag/${Id}" title="Edit tag">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-sm  btn-default  link-delete-tag"
                       href="/Admin/DeleteTag/${Id}" title="Delete tag">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            </div>
        </div>
        <hr />
        {{/each}}
    </script>
}








