﻿<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
        <ui-view name="mainContent"></ui-view>
    </div>
    <div class="col-xs-12  col-sm- 4 col-md-3 col-lg-2">
        <div class="sidebar">
            <h4><b>Tags</b></h4>
            <ul ng-repeat="tag in tags">
                <li>
                    <a ui-sref="app.blog.postsByTag({tagId: tag.Id})"
                       ng-attr-title="{{getTagTitleMessage(tag.Name)}}"
                       ng-click="tagSelected(tag)">
                        {{tag.Name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>