﻿<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app.blog.about"><span class="glyphicon glyphicon-cog"></span></a>
        </div>
        <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
            <ul class="nav navbar-nav">  
                
                <li><a ui-sref="app.blog.posts">Posts</a></li> 
                
                <li uib-dropdown on-toggle="toggled(open)">
                    <a href id="simple-dropdown" uib-dropdown-toggle>Visitors<span class="caret"></span></a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li class="dropdown-header"><b>Online</b></li>
                        <li><a ui-sref="app.onlineVisitors"> visitors by country</a></li>
                        <li><a ui-sref="app.onlineVisitorsLocatins"> visitors by username</a></li>                       
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header"><b>History</b></li>
                        <li><a ui-sref="app.historyVisitors"> visitors by country</a></li>
                        <li><a ui-sref="app.historyVisitorsDaily"> visitors by day</a></li>

                    </ul>
                </li>             

                <li uib-dropdown on-toggle="toggled(open)">
                    <a href id="simple-dropdown" uib-dropdown-toggle>Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li class="dropdown-header"><b>Manage</b></li>
                        <li><a ui-sref="app.adminBlogPages">pages</a></li>
                        <li><a ui-sref="app.adminTags">tags</a></li>
                        <li><a ui-sref="app.adminPosts">posts</a></li>                                               
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header"><b>Statistics</b></li>
                        <li><a ui-sref="app.adminVisitedPages">by visited pages</a></li>
                        <li><a ui-sref="app.adminVisitorsByIP">by visitors ip</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header"><b>Background jobs</b></li>
                        <li><a href="/Hangfire"> hangfire dashboard</a></li>
                    </ul>
                </li>

                
                <li><a ui-sref="app.blog.blogPages({description: 'About'})">About</a></li>
                <li><a ui-sref="app.blog.blogPages({description: 'Contact'})">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li uib-dropdown on-toggle="toggled(open)">
                    <a href id="simple-dropdown" class="nav-text" uib-dropdown-toggle>Signed in as User_Test <span class="caret"></span></a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li><a href="#">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

