﻿@{
    ViewBag.Title = "About";
}


@section MainContent{
<h4><b>О чем этот журнал</b></h4>

    
<i>Ну как же, кроме вас из ЖЭКа у нас там никто не был, тема лекции:</i><b> <i>Нью-Йорк - город контрастов</i></b><br><br><i><a href="http://igornasa.livejournal.com/11195.html" rel="nofollow" target="_self">Манхэттен</a><br><a href="http://igornasa.livejournal.com/33844.html" rel="nofollow" target="_self">История Всемирного Торгового Центра</a><br><a href="http://igornasa.livejournal.com/21683.html" rel="nofollow" target="_self">Космическая гонка</a></i><br><br><br>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2">&nbsp;НЬЮ-ЙОРК<br><img src="http://farm5.static.flickr.com/4153/4997840414_7dde6ae4be_s.jpg" alt="skyscraper_viewFromWater" width="75" height="75"><br></div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <b>Жизнь в Нью-Йорке</b><br><i>
                <a href="http://igornasa.livejournal.com/917.html" rel="nofollow" target="_self">Среда обитания</a>,
                <a href="http://igornasa.livejournal.com/1059.html" rel="nofollow" target="_self">Автомобили</a>, 
            <a href="http://igornasa.livejournal.com/2478.html" rel="nofollow" target="_self">Городская живность</a>,
            
            <br><font color="#666699">Медицина</font> (<a href="http://igornasa.livejournal.com/3047.html" rel="nofollow" target="_self">Диагностика</a>,  <a href="http://igornasa.livejournal.com/3439.html" rel="nofollow" target="_self">Лечение</a>),<br><a href="http://igornasa.livejournal.com/11689.html" rel="nofollow" target="_self">Как сойти за настоящего нью-йоркца</a>, <a href="http://igornasa.livejournal.com/15893.html" rel="nofollow" target="_self">Как стать полицейским</a>
            </i><br><b>Достопримечательности Нью-Йорка</b>  <br>
            <i>
            <a href="/Blog/GetPost/29" rel="nofollow" target="_self">Небоскребы</a>, 
            <a href="/Blog/GetPost/30" rel="nofollow" target="_self">Мосты</a>, 
            <a href="http://igornasa.livejournal.com/15510.html" rel="nofollow" target="_self">Парки</a>, 
            <a href="/Blog/GetPost/6" rel="nofollow" target="_self">ВТЦ</a>, 
            <a href="/Blog/GetPost/31" rel="nofollow" target="_self">Брайтон</a>,<br>
            <a href="http://igornasa.livejournal.com/29507.html" rel="nofollow" target="_self">Метро</a> 
            (<a href="/Blog/GetPost/32" rel="nofollow" target="_self">История</a>, 
            <a href="/Blog/GetPost/33" rel="nofollow" target="_self">Сегодняшний день</a>,
            <a href="/Blog/GetPost/34" rel="nofollow" target="_self">Искусство подземки</a>)</i><br><b>Манхэттен</b><br><i><a href="http://igornasa.livejournal.com/10768.html" rel="nofollow" target="_self">Переобитаемый остров</a>,
             <a href="http://igornasa.livejournal.com/13709.html" rel="nofollow" target="_self">История</a>, 
            <a href="http://igornasa.livejournal.com/29325.html" rel="nofollow" target="_self">Панорамы столетий</a>,
             <a href="http://igornasa.livejournal.com/11195.html" rel="nofollow" target="_self">Районы</a>, 
            <a href="http://igornasa.livejournal.com/11817.html" rel="nofollow" target="_self">Небоскребы Манхэттена</a></i><br><br>
        </div>
    </div>
    <hr />







    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2">&nbsp;АМЕРИКА<br><img src="http://farm2.static.flickr.com/1229/5108244219_e2deddfe9f_s.jpg" alt="USAFlag" width="75" height="75"><br></div>

        <div class="col-xs-12 col-sm-6 col-md-8">
            <b><a href="http://igornasa.livejournal.com/22575.html" rel="nofollow" target="_self">Эмигранты</a></b>
            <br><i>
                <a href="/Blog/GetPost/14" rel="nofollow" target="_self">Откуда мы</a>,
                <a href="/Blog/GetPost/15" rel="nofollow" target="_self">От въезда до получения гражданства</a>,
                <a href="/Blog/GetPost/16" rel="nofollow" target="_self">Нелегалы</a>,
                <a href="/Blog/GetPost/17" rel="nofollow" target="_self">Происхождение видов</a>,
                <a href="/Blog/GetPost/18" rel="nofollow" target="_self">Стереотипы</a>,
                <a href="/Blog/GetPost/19" rel="nofollow" target="_self">Три иммиграции</a> <br>

                <a href="http://igornasa.livejournal.com/18532.html" rel="nofollow" target="_self">Ирландцы</a>

            </i><br><b>Американцы</b><br><i>
                <a href="/Blog/GetPost/9" rel="nofollow" target="_self">Белые</a>,
                <a href="/Blog/GetPost/8" rel="nofollow" target="_self">WASP</a>,
                <a href="/Blog/GetPost/10" rel="nofollow" target="_self">Женщины Америки</a>

            </i><br><b>Американская история</b><br><i>
                <a href="http://igornasa.livejournal.com/26401.html" rel="nofollow" target="_self">Президенты США</a>,
                <a href="http://igornasa.livejournal.com/24627.html" rel="nofollow" target="_self">9/11</a>,
                <a href="/Blog/GetPost/28" rel="nofollow" target="_self">Сухой закон</a>,
                <a href="/Blog/GetPost/29" rel="nofollow" target="_self">Zero Factor</a>,
                <a href="http://igornasa.livejournal.com/15129.html" rel="nofollow" target="_self">Американская революция</a>
            </i><br>

            <b>Американская архитектура</b><br>
            <i>
                <a href="http://igornasa.livejournal.com/22950.html" rel="nofollow" target="_self">Британское наследие</a>,
                <a href="http://igornasa.livejournal.com/21179.html" rel="nofollow" target="_self">Колониальный период</a>
            </i><br>

            <b>Россия - Америка</b><br><i>
                <a href="/Blog/GetPost/25" rel="nofollow" target="_self">Космическая гонка</a>,
                <a href="/Blog/GetPost/26" rel="nofollow" target="_self">Deja vu</a>, 
                <a href="/Blog/GetPost/27" rel="nofollow" target="_self">Aмериканские "непривычности"</a>
            </i><br><br>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2">&nbsp;РАЗНОЕ<br><img src="http://farm6.static.flickr.com/5226/5623520498_76b718049c_s.jpg" alt="raznoe_logo" width="75" height="75"><br></div>
        <div class="col-xs-12 col-sm-6 col-md-8"><b><a href="http://igornasa.livejournal.com/3921.html" rel="nofollow" target="_self">Переводы из американской прессы</a><br><a href="http://igornasa.livejournal.com/6115.html" rel="nofollow" target="_self">Видео</a></b> <br></div>
    </div>
    <hr />

   

    
}

@section RightSideContent{
    @Html.Action("GetTags","Blog")
}
@section Scripts {
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="/scripts/custom/blog.js"></script>
    @{this.GetOutputWriter().Write(File.ReadAllText(Server.MapPath("/scripts/template/blogTmp.htm")));}
}