﻿@{
    ViewBag.Title = "Contact";
}


@section MainContent{
<h3>@ViewBag.Title</h3>

<div class="row">
    <div class="col-xs-12  col-sm-8 cl-md-10">
        <b>Live journal:</b>
        <a href="http://igornasa.livejournal.com/" rel="nofollow" target="_self">http://igornasa.livejournal.com</a>
    </div>
    <div class="col-xs-12  col-sm-8  cl-md-10">
        <b>Facebook:</b>
        <a href="https://www.facebook.com/igor.nasonov.98" rel="nofollow" target="_self">https://www.facebook.com/igor.nasonov.98</a>
    </div>
</div>
    
}
