﻿<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Advanced Directive Features Controllers</title>
   
    <script src="angular.js"></script>
    <script src="~/Scripts/Angular/angular.js"></script>
    <script src="~/Scripts/Angular/angular-sanitize.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <script>
   /* <script src="~/Scripts/Angular/angular-resource.js">
<script src="~/Scripts/Angular/angular-route.js">*/
        angular.module("exampleApp", [])
        .constant("dataUrl", "/Blog/GetPostsByTag")
        .controller("defaultCtrl", function ($scope, $http, $sce) {
            $scope.loadData = function () {

                $http.get("/Blog/GetPostsByTag/3").success(function (data) {

                    $scope.posts = data.Posts;
                });
            }
            $scope.loadData();
            $scope.loadData();

        });
    </script>
</head>
<body  ng-controller="defaultCtrl">         
    <div ng-repeat="post in posts">
        <div class="row">
            <div class=" col-xs-12" style="margin-top:40px;">
                <h4>
                    <a href="/Blog/GetPost/{{post.Id}}" title="{{item.Title}}">{{post.Title}}</a>
                </h4><i>{{post.PostedOn}}</i>
            </div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-xs-12 ">
                <div ng-bind-html="$sce.trustAsHtml(post.Description)"></div>
                <div>{{$(post.Description).html()}}</div>
            </div>
            <div class="col-xs-12 ">
                <a href="Blog/ExpandPost/{{post.Id}} " title={{post.Title}} class="link-post-expand">〈 Read more ... 〉"</a>
                <div class="post-body"></div>
            </div>
        </div>
    </div>      
        
</body>
</html>
