﻿@model DateTime
@using Blog.Models.Visitor;
@using System.Collections.Concurrent;
@using System.Web.Security;
@using System.Web;


@section Styles
{
    <link rel="stylesheet" href="/content/bootstrap-datetimepicker.min.css" />
}


@section MainContent{ 

<div class="row">
    <div class="  col-xs-12 text-left">
        <ol class="breadcrumb">
             <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
            <li class="active">Visitors</li>

        </ol>
    </div>
</div>

<div class="row">
    <div class="  col-xs-6 col-md-4 col-sm-offset-4 text-left">




        <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>



    </div>
</div>


<div class="row">
    <div id="containerMap2" class="col-xs-12"></div>
    
</div>
<div id="containerMap" ></div>

}




@section Scripts {
 <!-- datetimepicker  https://eonasdan.github.io/bootstrap-datetimepicker/Installing/ -->
<script type="text/javascript" src="/scripts/moment.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap-datetimepicker.min.js"></script>

<!--  map -->
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
<!-- Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE -->
<link rel="stylesheet" type="text/css" href="https://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />


<script>

    $(function () {
        $('#datetimepicker1').datetimepicker({
            defaultDate: new Date(),
            format: 'MMMM YYYY',
            maxDate: moment().endOf("month"),
           // minDate: new Date("@Model")
        });

        fnGetStatistics(0, 0);
        

        $("#datetimepicker1").on("dp.change", function (e) {
            fnGetStatistics(e.date.format('M'), e.date.format('YYYY'));
        });
    });

    

    //---------------------------------------
    function fnGetStatistics(month, year) {
       
        
        $.get("@Url.Action("GetHistoryVisitorsMap", "Visitor")",
             { month: month, year: year }, function (result) {
                 var data = result.data.result;
                 
                 var statisticsDate = moment([parseInt(result.year), parseInt(result.month) - 1]).endOf("month");
                 var statisticsMonthName = statisticsDate.format('MMMM');

                

            // Add lower case codes to the data set for inclusion in the tooltip.pointFormat
            $.each(data, function () {
               
                this.flag = this.code.replace('UK', 'GB').toLowerCase();
            });
            
            // Initiate the chart
            $('#containerMap').highcharts('Map', {

                title: {
                    text: 'Website visitors by countries  in ' + statisticsMonthName
                },

                legend: {
                    title: {
                        text: 'visits',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                        }
                    }
                },

                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'top'
                    }
                },

                tooltip: {
                    backgroundColor: 'white',
                    borderWidth: 2,
                    shadow: false,
                    useHTML: true,
                    padding: 3,
                    pointFormat: '<span class="f32"><span class="flag {point.flag}"></span></span> {point.name}<br/>' +                      
                        '<b>Total visits:</b> {point.value}<br/><b>Total visitors:</b> {point.visitors}<br/><b>Authenticated:</b> {point.usercount}<br/><b>Anonymous:</b> {point.ananimouscount}<br/>',

                    positioner: function () {
                        return { x: 0, y: 250 };
                    }
                },

                colorAxis: {
                    min: 1,
                    max: 1000,
                    type: 'logarithmic'
                },

                series: [{
                    data: data,
                    mapData: Highcharts.maps['custom/world'],
                    joinBy: ['iso-a2', 'code'],
                    name: 'Country Totals',
                    states: {
                        hover: {
                            color: '#BADA55'
                        }
                    }
                }]
            });
            //--------------------------
        });
    }
   
</script>




}