﻿
@using Blog.Models.User;



@section Styles
{
    <link rel="stylesheet" href="/content/bootstrap-datetimepicker.min.css" />
}







@section MainContent{

    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Statistics by visited pages  (under construction)</li>

            </ol>
        </div>
    </div>

    @Html.Action("GetVisitedPages", "Visitor")
}








