﻿<div class="row">
    <div class="col-xs-12">

        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <h3><b>Posts</b></h3>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <ul uib-pagination total-items="totalItems" direction-links="directionLinks" ng-model="currentPage"
                            ng-change="pageChanged()" num-pages="numPages" items-per-page="itemsPerPage" class="pull-right"></ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div ui-view="grid"></div>

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th ng-click="orderByMe('Id')">Id</th>
                            <th ng-click="orderByMe('Title')">Title</th>

                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in posts | orderBy:orderBy">
                            <td>{{item.Id}}</td>
                            <td>
                                <a ui-sref="app.blog.post({id: item.Id})"
                                   ng-attr-title="{{'See post - ' + item.Title}}">
                                    {{item.Title}}
                                </a>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-xs btn-primary" ng-click="deletePost(item.Id)"> Delete</button>
                                <a ui-sref="app.adminEditPost({id: item.Id})" class="btn btn-xs btn-primary">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="input-group pull-right">
                    <span class="input-group-addon bg-primary"
                          style="width:200px;color: #fff;background-color: #337ab7;border-color: #2e6da4;">
                        Page: {{currentPage}} / {{numPages}} | Items per Page:
                    </span>
                    <select class="form-control"
                            ng-model="placement.selected"
                            ng-change="itemsPerPageChanged()"
                            ng-options="o as o for o in placement.options">
                    </select>
                </div>
                <div>
                    <button class="btn btn-primary" ng-click="refresh()">Refresh</button>      
                    <a ui-sref="app.adminAddPost()" class="btn  btn-primary">Add</a>
                </div>
            </div>
        </div>
    </div>
</div>