﻿<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><b>Blog pages</b></h3>
            </div>
                <div class="panel-body">
                    <div ui-view="grid"></div>


                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th ng-click="orderByMe('Id')">Id</th>
                                <th ng-click="orderByMe('Description')">Page name</th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in pages | orderBy:orderBy">
                                <td>{{item.Id}}</td>
                                <td>
                                    <a ui-sref="app.blog.blogPages({description: item.Description})"
                                       ng-attr-title="{{'See page - ' + item.Description}}">
                                        {{item.Description}}
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a ui-sref="app.adminEditBlogPage({id: item.Id, description:item.Description})" class="btn  btn-primary">Edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
    </div>
</div>