﻿
<div class="row" style="padding-bottom:30px;">
    <div class="col-xs-12 text-center">
        <h3><b>Statistics by visited pages</b></h3>
    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-5 hidden-xs  text-left"><b>Page</b></div>
    <div class="col-sm-2  col-xs-6 text-left ">
        <abbr title="The total number of pages viewed. This number includes repeated views of a single page. In other words, a single person may view the same page several times and each view is counted as a visit.">
            <b>Visits</b><b class="visible-xs">Visitors (User/ Anonymous)</b>
        </abbr>
    </div>
    <div class="col-sm-2  hidden-xs col-xs-4 text-left ">
        <abbr title="The number of individual people who have viewed a specific page at least once during a visit. For example, if a single user views a page more than once during the same visit">
            <b>Visitors</b><br />
        </abbr>  (User/ Anonymous)
    </div>
    <div class="col-sm-3  col-xs-6 text-left">
        <abbr title="The average amount of time users spend viewing a specific page or screen, or set of pages or screens.">
            <b>Avg. Time</b>
        </abbr>
    </div>
</div>
<div class="h-divider" style="margin-bottom:14px;"></div>

<div class="row" ng-hide="visits.length > 0">
    <div class="  col-xs-12 text-left">No records</div>
</div>

<div class="row" ng-repeat-start="v in visits track by $index">
    <div class="col-xs-12   col-sm-5 text-left">
        <b>{{v.Action}}</b>
        <br ng-if="v.Id1 != 0  || v.Id2 != 0" />      
        <a ui-sref="app.blog.post({id: v.Id1})" ng-if="v.Id1 != 0"
           ng-attr-title="{{'See post - ' + v.Title1}}">
           {{v.Title1}}
        </a>
        <a ui-sref="app.blog.postsByTag({id: v.Id2})" ng-if="v.Id2 != 0"
           ng-attr-title="{{'See posts by tag - ' + v.Title2}}">
           {{v.Title2}}
        </a>
    </div>
    <div class="col-xs-12  col-sm-2 text-left">{{v.Count1}}</div>
    <div class=" col-xs-6 col-sm-2 text-left">{{(v.Count2 + v.Count3)}} ({{v.Count2}}/ {{v.Count3}}) </div>
    <div class=" col-xs-6 col-sm-3 text-left">{{v.SpentTime || 0}}</div>


</div>
<hr ng-repeat-end />
