﻿@model IEnumerable<Blog.Models.Blog.Tag>
@{
    ViewBag.Title = "_Tags";
}


<div class="row">
    <div class="sidebar">
        <h4><b>Tags</b></h4>

        @if (Model != null && Model.Count() > 0)
        {
            <ul>
                @foreach (var t in Model)
                {
                    <li>@Html.ActionLink(t.Name, "GetPostsByTag", "Blog", 
                          new { id = t.Id }, new { title = "See posts with tag " + t.Name, @class=" link-tag" })</li>
                }
            </ul>
        }
        else
        {
            <p>No tags found!</p>
        }
    </div>
</div>


