﻿<link rel="stylesheet" href="/content/bootstrap-datetimepicker.min.css" />

<div class="row">
    <div class="  col-xs-6 col-md-4 col-sm-offset-4 text-left">




        <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>



    </div>
</div>

<!-- datetimepicker  https://eonasdan.github.io/bootstrap-datetimepicker/Installing/ -->
<script type="text/javascript" src="/scripts/moment.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap-datetimepicker.min.js"></script>