﻿@model Post
@using Blog.Models.Blog;
@using Blog.ViewModels;
@{
    ViewBag.Title = "Post";
    var index = 0;
    var linkLikesClass = Request.IsAuthenticated ? " class ='link-like' " : " class ='link-can-not' ";
}

@section MainContent{

   

<ul class="pager">
    <li @Html.Raw((0 == Model.PrevPostId) ? "class='disabled'" : "")>
        <a href="@Url.Action("GetPost", "Blog", new { id = Model.PrevPostId})">&larr; Previous</a>
    </li>
    <li @Html.Raw((0 == Model.NextPostId) ? "class='disabled'" : "")> <a href="@Url.Action("GetPost", "Blog", new { id = Model.NextPostId })">Next &rarr;</a>
    </li>
</ul>



    <div class="row">
        <div class=" col-xs-12" style="margin-top:40px;">
            <h4>
                @Model.Title
            </h4><i>@Model.PostedOn.ToString("dd-MMM-yyyy")</i>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-12 ">
            @Html.Raw(Model.Description)
            @Html.Raw(Model.Body)
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-12">
            <span>Tags: </span>
            @foreach (var t in Model.Tags)
            {
                if (index > 0) { Html.Raw(", "); }
                <a href="/Blog/GetPostsByTag/@t.Id" title="See posts with tag @t.Name" class=" link-tag">@t.Name</a>

            }
        </div>
    </div>

<a name="ShowComments"></a>
<div class="row" style="margin-bottom:10px;margin-top:10px;">
    <div class="col-xs-6 col-sm-4">

        <a href="/Blog/AddPostLike/@Model.Id" @Html.Raw(linkLikesClass)>
            <span style="font-size:22px;" class="glyphicon glyphicon-thumbs-up"></span>
        </a>
        <a class="likecount" style="color:green;">@Model.PostLikesCount</a>

        <a href="/Blog/AddPostDislike/@Model.Id" @Html.Raw(linkLikesClass)>
            <span style="font-size:22px;" class="glyphicon  glyphicon-thumbs-down"></span>
        </a>
        <a class="likecount" style="color:red;">@Model.PostDislikesCount</a>

    <a class="btn btn-default comment-menu-items btn-xs new-comment" title="Add a new comment" href="/Blog/AddComment">
        <span style="font-size:24px; margin:0px; padding:0px;" class="glyphicon glyphicon-edit"></span>
    </a>
       
    </div>
    <div class="col-xs-6 col-sm-4 text-center">

        @if (Model.CommentsCount < 2)
        {<span style="font-size:18px;" id="span-comment-count"> @Model.CommentsCount</span>  @Html.Raw("Comment")}
        else
        {<span style="font-size:18px;" id="span-comment-count"> @Model.CommentsCount</span>  @Html.Raw("Comments")}

    </div>

</div>

@Html.Partial("AddNewComment", new AddCommentViewModel() { Comment = new Comment() { PostId= Model.Id} })

   <div id="div-post-comments">
    @foreach (var r in Model.Comments)
    {
        <div class="row" style="margin-top:10px;padding-top:10px; padding-bottom:10px;background-color:lightgray;">
            <div class="col-xs-12 col-sm-8">
                <span  class="glyphicon glyphicon-user"></span>
                @r.UserName
            </div>
            <div class="col-xs-12 col-sm-4">
                @r.PostedOn.ToString("dd-MMM-yyyy")
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-xs-12">
                @Html.Raw(r.CommentBody)
            </div>
        </div>

    }
</div>
}

@section RightSideContent{
    @Html.Action("GetTags")
}

@section FooterContent{
    <hr />
}



@section Scripts {
    
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>    
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
     @Scripts.Render("~/Scripts/jquery.validate.min.js")
     @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    <script type="text/javascript" src="/scripts/custom/blog.js"></script>
    
<script>
    $(document).ready(function () {

        $("#div-comment-form").hide();

        tinymce.init({
            selector: "#CommentBody",

            charLimit: 10,
            setup: function (editor) {
                editor.on('keyup', function (e) {
                    updateTinyMiceHtmlCounter(editor, e, "#CommentCharCount")
                });
                editor.on('loadcontent', function (e) {
                    updateTinyMiceHtmlCounter(editor, e, "#CommentCharCount")
                });
            },

            height: 200,
            theme: 'modern',
            plugins: [
              'advlist autolink lists link image charmap print preview hr anchor pagebreak',
              'searchreplace wordcount visualblocks visualchars code fullscreen',
              'insertdatetime media nonbreaking save table contextmenu directionality',
              'emoticons template paste textcolor colorpicker textpattern imagetools'
            ],
            toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons',
            image_advtab: true,

            templates: [
              { title: 'Test template 1', content: 'Test 1' },
              { title: 'Test template 2', content: 'Test 2' }
            ],
            content_css: [
              '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
              '//www.tinymce.com/css/codepen.min.css'
            ]
        });
       


        $(".container").on("click", ".btn-cancel-new-form", function (e) {
            e.preventDefault();
            $("#div-comment-form").hide();

        });


        //------------------------------
        $('a.new-comment').click(function (e) {
            e.preventDefault();

            $("#div-comment-form").toggle();
            var $form = $("#div-comment-form").find("form");
            $("#CommentBody").val("");
            $("#CommentCharCount").val("0");
            tinyMCE.activeEditor.setContent('');

            //clear errors
            $("#div-comment-form").find("input").removeClass("input-validation-error");
            $('.field-validation-error').empty();

        });


        //------------------------------
        function updateTinyMiceHtmlCounter(ed, e, inputCopyIdentifier) {
            var tinylen, htmlcount;
            tinylen = ed.getContent().length;

            $(inputCopyIdentifier).val(tinylen);
        }


        //---------------------
        $(".container").on("click", ".btn-save-tmp", function (e) {
            e.preventDefault();
            var $form = $(this).closest("form");
            if ($form.valid()) {

                $("#CommentBody").val(tinyMCE.get('CommentBody').getContent());
                $.post("/Blog/AddComment", $form.serialize())
                  .done(function (data) {
                      $("#div-comment-form").hide();
                      var newControl = $("#tmpComment").tmpl(data.comment);
                      $("#div-post-comments").append(newControl);
                      $("#span-comment-count").text(data.comment.CommetnsCount);
                  })
                  .fail(function () {
                      alert("Error when save comment");
                  });
            }
        });
        //---------------------
    })
</script>

@{this.GetOutputWriter().Write(File.ReadAllText(Server.MapPath("/scripts/template/blogTmp.htm")));}
}
