﻿@model IEnumerable<Blog.Models.Blog.Tag>

    <div class="row" >
        <div class="col-xs-12" style="padding-top:40px;">
            <h4><b> Used Tags </b></h4> 
        </div>
        @foreach(var tag in Model)
        { 
        <div class="col-xs-12 ">
            @Html.ActionLink(tag.Name, "GetPostsByTag", new { id = tag.Id }, new { title = "See posts with tag " + tag.Name, @class = " link-tag" }) -
            @tag.TagUsedCount

        </div>
        }
    </div>
